body{
   background-color:rgb(16,227,127) ;
}
.photo-container{
background-color: white;
border-radius: 10px;
flex-direction: row;
height: 300px;
width: 300px;
margin-top: 50px;
margin-left: 100px;
margin-right: 100px;
}
.photo-album{
 display: flex;
 flex-flow: row wrap;
 list-style-type: none;
}